:root {
    --bgcolor: rgb(25, 25, 30);
    --fgcolor: white;
    --correctPlaceColor: rgb(0, 150, 75);
    --incorrectPlaceColor: rgb(200, 175, 0);
    --notPresentColor: rgb(50, 50, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 200ms; */
}

body {
    background-color: var(--bgcolor);
    color: var(--fgcolor);
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

header {
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: end;
}

header h1 {
    margin: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-item {
    /* position: absolute;
    top: 0;
    right: 0; */
    padding: 6px;
    /* float: right; */
}

.menu-item input[type="checkbox"] {
    display: none;
}

.menu-item label {
    display: flex;
    align-items: center;
}

#help {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

.switch {
    width: 68px;
    height: 35px;
    border-radius: 35px;
    background-color: var(--notPresentColor);
}

.switch::before {
    content: 'brightness_6';
    width: 30px;
    height: 20px;
    background-color: var(--bgcolor);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    margin: 2.5px;
    transform: translateX(0);
    transition: transform 100ms;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
}

.switch.off::before {
    transform: translateX(-110%);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* flex-wrap: wrap; */
    flex-direction: column;
    position: relative;
}

#notif {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    opacity: 0;
    transition: opacity 200ms, transform 200ms;
}

.words {
    display: flex;
}

.answers {
    display: none;
    padding: 0 20px;
    flex-direction: column;
    justify-content: end;
    font-size: 24px;
    height: calc((1.6em + 4px) * 11);
}

.spacer {
    display: none;
    font-size: 24px;
    width: calc(11em + 4px * 11);
    padding: 0 20px;
}

.answer {
    font-size: 24px;
    height: 1.6em;
    width: 11em;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.row {
    display: flex;
}

.letter {
    font-size: 24px;
    aspect-ratio: 1/1;
    width: 1.6em;
    border: 1px solid grey;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#end-message {
    display: none;
    font-size: 16px;
}

.button {
    font-size: 16px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
}

.key-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    border: none;
    outline: none;
    font: inherit;
    color: var(--fgcolor);
    
    font-size: 12px;
    height: 3.5em;
    min-width: 2.5em;
    background-color: rgb(174, 174, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
}

button[code="Backspace"] {
    width: 45px;
}

section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
    visibility: hidden;
    text-align: left;
    font-weight: 300;
}

section .container {
    background: var(--bgcolor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

p, h2, h3 {
    padding: 10px 0;
}

@media screen and (max-width: 600px) {
    .letter {
        width: 7vw;
    }

    .key {
        min-width: 8vw;
    }

    .words {
        flex-direction: column;
    }

    .answers {
        height: fit-content;
    }

    .answer {
        justify-content: center;
        width: 100%;
    }

    header h1 {
        left: 0;
        transform: none;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-5px);
    }
    66% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}